body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.profile
{
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}
img.logo
{
  width: 80px;
  height: 80px;
  border-radius: 30%;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}
h1.name
{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.social-image ul
{
  padding-left: 0px;
  margin-left: 0px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.social-image ul li
{
  display: inline;
}
html {
            scroll-behavior: smooth;
        }
@media (max-width: 600px)
  {
    .profile .logo {
      width: 70px;
    }
  }